@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.main-projetos{
    background: url('../../Images/BIM-min.jpg') center right no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1650px;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative;
    flex-direction: column;
    font-family: 'Hammersmith One';
}

.main-container-listra{
    width: 80vw;
    height:8vh;
    position: absolute;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #0062F4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    z-index: 1;

}

.main-container-listra > h3{
    color: #fff;
    font-family: 'Hammersmith One';
    width: 70%;
    text-align:center;
    font-size: 1.7rem;
    font-weight: normal;
}


.main-projetos::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.main-projetos::-webkit-scrollbar-thumb {
    background-color: #1A7ACA;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}


.main-projetos-container{
    width: 80%;
    height: 250%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 0;
    background-color: #ffffff9f;
    padding-top: 85%
}

.main-projetos-container-divisao{
    width: 75%;
    height: 45%;
    
}

.main-projetos-container-divisao-branco{
    width: 100%;
    height: 75%;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-projetos-container-divisao-branco-img{
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.eletrica {
    background-image: url('../../Images/eletrica.png');
}

.dados{
    background-image: url('../../Images/dados.png');
}

.hidrosanitario{
    background-image: url('../../Images/hidra.png');
}

.incendio{
    background-image: url('../../Images/incendio.png');
}

.gas{
    background-image: url('../../Images/gas.png');
}

.spda{
    background-image: url('../../Images/spda.png');
}

.main-projetos-container-divisao-branco-texto{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-projetos-container-divisao-branco-texto > h2{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;

    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;

}

.main-projetos-container-divisao-branco-texto .direita {
   justify-content: start;
   padding-left: 10%;
}

.main-projetos-container-divisao-branco-texto .esquerda {
    justify-content: end;
    padding-right: 10%;
 }

.main-projetos-container-divisao-branco-texto > p{
    width: 90%;
    height: 70%;
    display: flex;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main-projetos-container-divisao-branco-traco{
    width: 10%;
    height: 100%;
    background-color: #0062F4;
}