.main-projetos{
    width: 100%;
    height: 90vh;
    background-color: #F58010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-projetos .btn{
    width: 40px;
    height: 70px;
    background-color: #d9d9d981;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;

}

.main-projetos .btn > svg{
    width: 80%;
    height: 80%;
}

.main-projetos .left{
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 1;
}

.main-projetos .right{
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
}

.main-projetos-cards{
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.main-projetos-cards-container{
    height: 550px;
    width: 450px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-projetos-cards::-webkit-scrollbar {
    display: none;            /* width of the entire scrollbar */
    
}

.main-projetos-cards-card-container-card{
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    flex-direction: column;
    color: #fff;
    position: relative;
    box-shadow:-3px -3px 2px  #00000044;

}
.main-projetos-cards-card-container-card-img{
    width: 100%;
    height: 60%;
    background-image: url('../../Images/WhatsApp\ Image\ 2023-05-20\ at\ 14.10.17.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-projetos-cards-card-container-card-titulo{
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #F58010;
    color: #F58010;
}

.main-projetos-cards-card-container-card-paragrafo{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-projetos-cards-card-container-card-traco1{
    position:absolute;
    width: 100px;
    height: 3px;
    background-color: #F58010;
    z-index: 0;
    bottom: 3%;
    left: 0;
}

.main-projetos-cards-card-container-card-traco2{
    position:absolute;
    width: 75px;
    height: 3px;
    background-color: #F58010;
    z-index: 0;
    bottom: 5%;
    left: 0;
}

.main-projetos-cards-card-container-card-traco3{
    position:absolute;
    width: 50px;
    height: 3px;
    background-color: #F58010;
    z-index: 0;
    bottom: 7%;
    left: 0;
}

.main-projetos-cards-card-container-card-triangulo{
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 25px solid transparent;
    border-bottom: 25px solid #F58010;
    border-right: 25px solid #F58010;
    position: absolute;
    bottom: 0;
    right: 0;
}