.main-portifolio{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #d6d6d8;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

.main-portifolio .btn{
    width: 40px;
    height: 70px;
    background-color: #d9d9d981;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.main-portifolio .btn:hover{
    background-color: #d9d9d9a2;
}

.main-portifolio .btn > svg{
    width: 80%;
    height: 80%;
    
}

.main-portifolio .left{
    position: absolute;
    top:45%;
    left: 1%;
    z-index: 1;
}

.main-portifolio .right{
    position: absolute;
    top: 45%;
    right: 1%;
    z-index: 1;
}

.main-portifolio-carrossel{
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
}

.main-portifolio-carrossel::-webkit-scrollbar {
    display: none;            /* width of the entire scrollbar */
    
}

.main-portifolio-carrossel-container{
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
    position: relative;
}

.main-portifolio-triangulo{
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 30px solid transparent;
    border-bottom: 42px solid #1A7ACA;
    position: absolute;
    bottom: 0;
    right: 3%;
}

.main-portifolio-pontos{
    height: 5%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.main-portifolio-pontos-container{
    height: 100%;
    width: 6%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    display: flex;
    cursor: pointer;
}

.main-portifolio-pontos-container-ponto1{
    width: 15px;
    height: 15px;
    background-color: #1A7ACA;
    border-radius: 20px;
    cursor: pointer;

}

.main-portifolio-pontos-container-ponto2{
    width: 15px;
    height: 15px;
    background-color: #1A7ACA;
    border-radius: 20px;
    cursor: pointer;

}

.main-portifolio-pontos-container-ponto3{
    width: 15px;
    height: 15px;
    background-color: #1A7ACA;
    border-radius: 20px;
    cursor: pointer;

}

.main-portifolio-pontos-container-ponto4{
    width: 25px;
    height: 15px;
    background-color: #1A7ACA;
    border-radius: 20px;
    cursor: pointer;
}