body{
    background-color: #929292;
}

.main-inicio{
    width: 100%;
    height: 90vh;
    background-image: url('../../Images/1454_Banner\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    position: fixed;
    bottom: 0;
}


.main-inicio-container{
    width: 65%;
    height: 55%;
    background-color: #ffffffdc;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-inicio-container-logo{
    width: 75%;
    height: 75%;
    background-image: url('../../Images/logo_nova_muito_maior.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}