
header{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
    position: fixed;
    top: 0;
}

.container-logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container-logo-img{
    width: 100%;
    height: 100%;
    background-image: url('../../Images/logo_nova.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.container-lista{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-lista-informacoes{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container-lista-informacoes > a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    cursor: pointer;

}


.container-lista-informacoes > a:hover{
    border-bottom: 3px solid #1A7ACA;
}

.container-lista-informacoes > a.active{
    border-bottom: 3px solid #1A7ACA;
}
